$AColor : #060606;
$BColor: #e6bd21;
$accentColor: #ee275c;
$borderFormat: 4px solid $accentColor
$fontStack: "Cambria" Utopia serif
$paperColor: white;

.bordered
    border: $borderFormat
    border-collapse: collapse
    border-radius: 4em
    

#footer
    h2
        background-color: $paperColor
        padding-left: 4em

h1 
    color: $AColor
    background-color: $BColor

h2
    color: $BColor
    background-color: $AColor