body {
  background-color: #ffff00;
}
h1 {
  color: #0000ff;
}
p {
  color: #ff0000;
}
.class1 {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
.class2 {
    background-color: royalblue;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
div {
  background-color: red;
}
